<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="bootstrap.css">
     
</head>
<body>
    <a href="/add">Add contenders</a><br>

    <table align="center" border="2"  cellspacing="10" cellpadding="20" >
        <tr>
            <th>name</th>
            <th>edition</th>
            <th>semester</th>
            <th>rollNumber</th>
        </tr>
        {{#each collections as |collection|}}
        <tr>
            <td>{{collection.name}}</td>
             <td>{{collection.edition}}</td>
             <td>{{collection.semester}}</td>
             <td>{{collection.roll}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>