<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <style>
    body{
   background-image:url("r5igovj0lea50nipkpxe.jpeg"); 
    background-size:100% ;
    }
    h1{
        text-align: center;
        font-family: fantasy;
        font-size: 100px;
    }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
     
   <h1 style="font-size:60px">WELCOME TO YOUR ACCOUNT!</h1> 
   <p style="font-size:20px; color:white">
       Book exchange portal thanks you to be a part of it! <br>
       Please help us bring smiles by updating us about the books that you would like to share
       with our help.
   </p>
   <form action="POST">
      <div class="form-group">

                    <b><label for="bookName" style="color:lavender;font-family: cursive, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;font-size: 40px">Enter Book Name</label></b>
                    <input type="text" id="bookName" placeholder="Enter Bookname" class="form-control" name="bookName">
                </div>
                <br>

                <div class="form-group">

                    <b><label for="edition" style="color:lavender;font-family: cursive, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;font-size: 40px">Book Edition</label></b>
                    <input type="text" id="edition" placeholder="Enter the edition of your book" class="form-control" name="edition">
                </div>
                <br>

                <div class="form-group">

                    <b><label for="semester" style="color:lavender;font-family: cursive, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;font-size: 40px">Current semester</label></b>
                    <input type="text" id="semester" placeholder="Enter your current semester" class="form-control" name="semester">
                </div>
                <br>

                

                <div class="form-group">

                    <b><label for="roll" style="color:lavender;font-family: cursive, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;font-size: 40px">Roll Number</label></b>
                    <input type="text" id="roll" placeholder="Enter Roll Number" class="form-control" name="roll">
                </div>
                <br>
                  <input type="submit" value="Submit details" class="btn btn-warning">
   </form>
</body>
</html>